.tl-subheading {
  .tl-day-label {
    font-size: 18px;
  }
  .tl-date-label {
    display: block;
    font-size: 24px;
  }
}
.tl {
  padding: 0 50px;
  .tl-box {
    padding: 20px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    position: relative;
    .tl-label {
      position: absolute;
      top: 32px;
      left: -44px;
      font-size: 10px;
    }
  }
}
