<div class="timeline-container">
  <div class="tl-subheading">
    <span class="tl-day-label">Sat</span>
    <span class="tl-date-label">18</span>
  </div>
  <div class="tl">
    <div
      class="tl-box"
      *ngFor="let tl of timeline"
      (click)="handleTimelineClick(tl)"
    >
      <span class="tl-label">{{ tl.label }}</span>
      <app-timeline-task
        *ngIf="showTaskPlaceholder == tl.slot"
        [task]="tl"
      ></app-timeline-task>
      <div
        class="timeline-modal-container"
        *ngIf="showTaskPlaceholder == tl.slot"
      >
        <app-timeline-task-modal
          [task]="tl"
          (handleSave)="handleSave($event)"
        ></app-timeline-task-modal>
      </div>
    </div>
  </div>
</div>
